body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.mobile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 1%; /* Adjust this value to control the gap between the buttons and the window */
}

.color-palette {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns the buttons to the start (left) */
    justify-content: center;
    gap: 10px;
    width: 100px; /* Give a fixed width for the buttons container */
    padding-left: 1%; /* pushes the buttons close to the left edge. Adjust as necessary */
}

.centered-rectangle-window {
    width: 40vw;
    height: calc(80vw*0.12);
    background-color: #cf001fdf;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow-y: scroll;
    padding: 0;
    overflow-x: hidden;
    white-space: normal;
}

.svg-container {
    width: 100%;
    height: 100%; 
    transform-origin: center top;
    position: relative;
}

.svg1, .svg2 {
    width: 100%;
    height: auto;
    transform-origin: top;
}


.svg3 {
    display: block;
}

.svg3-1 {
    display: none;
}

.hover-container1:hover .svg3 {
    display: none;
}

.hover-container1:hover .svg3-1 {
    display: block;
}

.svg4-container {
    position: relative;
    height: 150px;
}

.svg4-1, .svg4-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.svg4-1 {
    z-index: 1;
    cursor: pointer;
}

.svg4-2 {
    transform: translateX(100%);
    z-index: 2;
}

.svg5-1 {
    display: block;
}

.svg5-2 {
    display: none;
}

.hover-container2:hover .svg5-1 {
    display: none;
}

.hover-container2:hover .svg5-2 {
    display: block;
}

.svg1, .svg2, .svg3, .svg3-1, .svg4-1, .svg4-2, .svg5-1, .svg5-2 {
    width: 100%;
    height: 100%;
    transform-origin: top;
}


/* Media query for phone screen size */
@media (max-width: 480px) {
    .mobile-wrapper {
        transform: rotate(-90deg);
        transform-origin: left bottom;
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vw; /* Switching to viewport width because of rotation */
        width: 100vh;  /* Same here */
        overflow-y: hidden; /* We don't want vertical scrolling */
    }

    .centered-rectangle-window {
        transform: rotate(90deg);
        transform-origin: left bottom;
        display: inline-block;
        width: calc(100vh - 50px);  /* Adjust for mobile screens, considering some offset for usability */
        height: 100vw;  /* Adjust based on your need */
        white-space: nowrap;  /* To ensure items don't wrap */
    }
}